.content{
  width: 60%;
  float:left;
  padding: 0 0 0 30px;
  background: #dbccba;
}
.sidebar{
  width: 40%;
  float: right;
  padding: 10px;
  background: #c1badb;
}
h1{
  text-align: center;
  border-bottom: 5px solid #bbb;
  }
body{
  background-color: #dbccba;
}
#pcount{
  font-size: 20px;
  color: red;
  font-weight: bold;
}
#date{
  color: red;
  font-size: 12px;
  font-style: italic;
}
a{
  color: #3d0ee8;
}
